.App {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.control-panel {
  position: absolute;
  left: 50%; 
  transform: translate(-50%);
  background: #fff;
  bottom: 2vh;
}

.action-popup {
  bottom: 30vh;
}

/* Mapbox gl component CSS below */

.mapboxgl-popup-content {
  padding: 0;
  background: rgba(0, 0, 0, 0);
  position: relative;
}

.marker-popup .video-wrapper { 
  transition: all .1s ease-in-out; 
  border: 2px solid #fff;
  width: 240px;
  height: 180px;
  transform: scale(1.0);
}

.marker-popup:hover .video-wrapper{ 
  transform: scale(1.2);
  border: 0px;
}

.marker-popup svg {
  visibility:hidden;
}

.marker-popup:hover svg {
  visibility:visible;
  transform: scale(1.2);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
  opacity: 0.8;
}

.marker-popup:hover .mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-close-button {
  display: none;
}

