.App {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.control-panel {
  position: absolute;
  left: 50%; 
  transform: translate(-50%);
  background: #fff;
  bottom: 2vh;
}

.action-popup {
  bottom: 30vh;
}

.add-camera-icon {
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='29px' height='29px' viewBox='0 -1 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecamera %5B%23952%5D%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Dribbble-Light-Preview' transform='translate(-378.000000, -3959.000000)' fill='%23000000'%3E%3Cg id='icons' transform='translate(56.000000, 160.000000)'%3E%3Cpath d='M326,3814 L326,3815 L327,3815 C327.552,3815 328,3815.448 328,3816 C328,3816.552 327.552,3817 327,3817 L326,3817 L326,3818 C326,3818.552 325.552,3819 325,3819 C324.448,3819 324,3818.552 324,3818 L324,3817 L323,3817 C322.448,3817 322,3816.552 322,3816 C322,3815.448 322.448,3815 323,3815 L324,3815 L324,3814 C324,3813.448 324.448,3813 325,3813 C325.552,3813 326,3813.448 326,3814 L326,3814 Z M334,3814.5 C332.897,3814.5 332,3813.603 332,3812.5 C332,3811.397 332.897,3810.5 334,3810.5 C335.103,3810.5 336,3811.397 336,3812.5 C336,3813.603 335.103,3814.5 334,3814.5 L334,3814.5 Z M334,3808.5 C331.791,3808.5 330,3810.291 330,3812.5 C330,3814.709 331.791,3816.5 334,3816.5 C336.209,3816.5 338,3814.709 338,3812.5 C338,3810.291 336.209,3808.5 334,3808.5 L334,3808.5 Z M337,3803 L331,3803 L331,3802 C331,3801.448 331.448,3801 332,3801 L336,3801 C336.552,3801 337,3801.448 337,3802 L337,3803 Z M343,3803 L343,3802 C343,3801.448 342.552,3801 342,3801 C341.448,3801 341,3801.448 341,3802 L341,3803 L339,3803 L339,3801 C339,3799.895 338.105,3799 337,3799 L331,3799 C329.895,3799 329,3799.895 329,3801 L329,3803 L326,3803 C324.895,3803 324,3803.895 324,3805 L324,3811 L326,3811 L326,3806 C326,3805.448 326.448,3805 327,3805 L341,3805 C341.552,3805 342,3805.448 342,3806 L342,3814 C342,3814.552 341.552,3815 341,3815 L340,3815 L340,3817 L342,3817 C343.105,3817 344,3816.105 344,3815 L344,3803 L343,3803 Z' id='camera-%5B%23952%5D'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.remove-camera-icon {
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='29px' height='29px' viewBox='0 -2 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecamera %5B%23951%5D%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Dribbble-Light-Preview' transform='translate(-418.000000, -3959.000000)' fill='%23000000'%3E%3Cg id='icons' transform='translate(56.000000, 160.000000)'%3E%3Cpath d='M362,3816 L362,3816 C362,3815.448 362.448,3815 363,3815 L367,3815 C367.552,3815 368,3815.448 368,3816 C368,3816.552 367.552,3817 367,3817 L363,3817 C362.448,3817 362,3816.552 362,3816 L362,3816 Z M374,3814.5 C372.897,3814.5 372,3813.603 372,3812.5 C372,3811.397 372.897,3810.5 374,3810.5 C375.103,3810.5 376,3811.397 376,3812.5 C376,3813.603 375.103,3814.5 374,3814.5 L374,3814.5 Z M374,3808.5 C371.791,3808.5 370,3810.291 370,3812.5 C370,3814.709 371.791,3816.5 374,3816.5 C376.209,3816.5 378,3814.709 378,3812.5 C378,3810.291 376.209,3808.5 374,3808.5 L374,3808.5 Z M377,3803 L371,3803 L371,3802 C371,3801.448 371.448,3801 372,3801 L376,3801 C376.552,3801 377,3801.448 377,3802 L377,3803 Z M383,3803 L383,3802 C383,3801.448 382.552,3801 382,3801 C381.448,3801 381,3801.448 381,3802 L381,3803 L379,3803 L379,3801 C379,3799.895 378.105,3799 377,3799 L371,3799 C369.895,3799 369,3799.895 369,3801 L369,3803 L366,3803 C364.895,3803 364,3803.895 364,3805 L364,3811 L366,3811 L366,3806 C366,3805.448 366.448,3805 367,3805 L381,3805 C381.552,3805 382,3805.448 382,3806 L382,3815 L381,3815 C380.448,3815 380,3815.448 380,3816 C380,3816.552 380.448,3817 381,3817 L382,3817 C383.105,3817 384,3816.105 384,3815 L384,3803 L383,3803 Z' id='camera-%5B%23951%5D'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.refresh-camera-icon {
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='29px' height='29px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 11.0006C10 10.4483 10.4477 10.0006 11 10.0006H13C13.5523 10.0006 14 10.4483 14 11.0006V13.0006C14 13.5529 13.5523 14.0006 13 14.0006H11C10.4477 14.0006 10 13.5529 10 13.0006V11.0006Z' stroke='%23000000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.25 12.0014C4.25042 12.4156 4.58654 12.751 5.00075 12.7506C5.41497 12.7502 5.75042 12.4141 5.75 11.9999L4.25 12.0014ZM6.144 8.1116L6.77414 8.51834L6.77451 8.51777L6.144 8.1116ZM9.19 5.5336L8.89458 4.84424L8.89364 4.84464L9.19 5.5336ZM13.111 5.1336L13.2635 4.39927L13.2611 4.39878L13.111 5.1336ZM16.585 7.0506L16.0451 7.57114L16.0456 7.57175L16.585 7.0506ZM18.29 10.0006L17.5692 10.2078C17.6626 10.5326 17.9617 10.7549 18.2996 10.7505C18.6376 10.7462 18.9309 10.5164 19.0159 10.1892L18.29 10.0006ZM19.7259 7.45725C19.8301 7.05635 19.5895 6.6469 19.1886 6.54271C18.7878 6.43853 18.3783 6.67906 18.2741 7.07996L19.7259 7.45725ZM19.75 11.9999C19.7496 11.5856 19.4135 11.2502 18.9993 11.2506C18.585 11.251 18.2496 11.5871 18.25 12.0014L19.75 11.9999ZM17.856 15.8896L17.2259 15.4829L17.2255 15.4834L17.856 15.8896ZM14.81 18.4676L15.1054 19.157L15.1064 19.1566L14.81 18.4676ZM10.889 18.8676L10.7365 19.6019L10.7389 19.6024L10.889 18.8676ZM7.415 16.9506L7.95495 16.4301L7.95436 16.4295L7.415 16.9506ZM5.71 14.0006L6.43082 13.7934C6.33745 13.4686 6.03835 13.2463 5.70039 13.2507C5.36244 13.255 5.06913 13.4848 4.98412 13.812L5.71 14.0006ZM4.27412 16.544C4.16993 16.9449 4.41046 17.3543 4.81136 17.4585C5.21225 17.5627 5.6217 17.3221 5.72589 16.9212L4.27412 16.544ZM5.75 11.9999C5.74877 10.7649 6.10441 9.55591 6.77414 8.51834L5.51387 7.70487C4.68737 8.98532 4.24848 10.4773 4.25 12.0014L5.75 11.9999ZM6.77451 8.51777C7.43011 7.50005 8.37429 6.70094 9.48637 6.22256L8.89364 4.84464C7.50751 5.4409 6.33066 6.43693 5.5135 7.70544L6.77451 8.51777ZM9.48543 6.22297C10.5808 5.75356 11.7933 5.62986 12.9609 5.86842L13.2611 4.39878C11.7942 4.09906 10.2708 4.25448 8.89458 4.84424L9.48543 6.22297ZM12.9585 5.86793C14.1352 6.11232 15.2109 6.7059 16.0451 7.57114L17.1249 6.53006C16.0814 5.44761 14.7357 4.70502 13.2635 4.39927L12.9585 5.86793ZM16.0456 7.57175C16.7615 8.31258 17.2846 9.21772 17.5692 10.2078L19.0108 9.79342C18.6585 8.5675 18.0107 7.44675 17.1244 6.52945L16.0456 7.57175ZM19.0159 10.1892L19.7259 7.45725L18.2741 7.07996L17.5641 9.81196L19.0159 10.1892ZM18.25 12.0014C18.2512 13.2363 17.8956 14.4453 17.2259 15.4829L18.4861 16.2963C19.3126 15.0159 19.7515 13.5239 19.75 11.9999L18.25 12.0014ZM17.2255 15.4834C16.5699 16.5012 15.6257 17.3003 14.5136 17.7786L15.1064 19.1566C16.4925 18.5603 17.6693 17.5643 18.4865 16.2958L17.2255 15.4834ZM14.5146 17.7782C13.4193 18.2476 12.2067 18.3713 11.0391 18.1328L10.7389 19.6024C12.2058 19.9021 13.7293 19.7467 15.1054 19.157L14.5146 17.7782ZM11.0415 18.1333C9.86478 17.8889 8.78909 17.2953 7.95495 16.4301L6.87506 17.4711C7.91861 18.5536 9.26434 19.2962 10.7365 19.6019L11.0415 18.1333ZM7.95436 16.4295C7.23854 15.6886 6.7154 14.7835 6.43082 13.7934L4.98919 14.2078C5.34156 15.4337 5.98931 16.5545 6.87565 17.4718L7.95436 16.4295ZM4.98412 13.812L4.27412 16.544L5.72589 16.9212L6.43589 14.1892L4.98412 13.812Z' fill='%23000000'/%3E%3C/svg%3E");
}

/* Mapbox gl component CSS below */

.mapboxgl-popup-content {
  padding: 0;
  background: rgba(0, 0, 0, 0);
  position: relative;
}

.marker-popup .video-wrapper { 
  transition: all .1s ease-in-out; 
  border: 2px solid #fff;
  width: 240px;
  height: 180px;
  transform: scale(1.0);
}

.marker-popup:hover .video-wrapper{ 
  transform: scale(1.2);
  border: 0px;
}

.marker-popup svg {
  visibility:hidden;
}

.marker-popup:hover svg {
  visibility:visible;
  transform: scale(1.2);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
  opacity: 0.8;
}

.marker-popup:hover .mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-ctrl-group-horizontal {
  border-radius: 4px;
  background: #fff;
}

.mapboxgl-ctrl-group-horizontal button {
  width: 29px;
  height: 29px;
  display: inline-block;
  padding: 5px;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}
